{% extends "vertical.html" %}
{% load static %}
{% block title %}Real Trading{% endblock title %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Real Money Trading' %}
{% endblock page_title %}

{% block page_content %}
    <div class="alert alert-danger bg-danger text-white border-0" role="alert">
        <strong>Warning!</strong> Actions on this page use REAL MONEY and will execute on the live market.
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Live Control Panel</h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Live Account Status</h4>
                    </div>
            </div>
        </div>
    </div>
{% endblock page_content %}